body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  /* font-weight: bold; */
}

h1{
  font-size: 4.5rem;
  margin: 40px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  /* font-weight: normal; */
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

span{
  text-decoration: underline;
}

hr{
  border: dotted grey 6px ;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.topContainer{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

.top-cloud{
  position: absolute;
  right: 240px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 240px;
  bottom: 310px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.computer-img{
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 100%;
}

.chillies-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.boy-img{
  height: 250px;
  width: 250px;
  margin-top: 100px;
}

.profile-paragraph{
  width: 40%;
  margin: 50px auto 100px auto;
  line-height: 2;
}

.contact-me {
  line-height: 2;
}

.contact-me-para {
  width: 40%;
  margin: 40px auto;
}

/* button {
  padding: 15px 32px;
  background-color: #66BFBF;
  border: none;
  border-radius: 8px;
  margin-bottom: 50px;
  font-size: 16px;
}

.button-link {
  text-decoration: none;
  color: white;
} */

.bottom-container{
  margin-top: 80px;
  background-color: #66BFBF;
  padding: 50px 0 20px;
  /* position: relative; */
}

.footer-link{
  margin: 10px 20px;
  text-decoration: none;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.footer-link:hover {
  color: #EAF6F6;
}

.footer-para {
  padding: 20px 0;
  color: #EAF6F6;
  font-size: 0.75rem;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
